iframe#opendialog-chatwindow {
   position: relative;
   bottom: 0;
   right: 0;
   border: none;
   max-height: 100vw;
   height: 100vh;
   width: 100vw;
   background-color: #fff;
   box-sizing: border-box;
}