#app,
body {
   width: 100vw;
}

.od-webchat-preview__iframe-wrapper {
   width: 100vw;

}

iframe#opendialog-chatwindow{
   width: 100vw;
   height: 100vh;
 }

.od-chat-window.iframe {
   margin: 0;
   width: 100%;
   height: 100%;
 }
 
.od-chat-window.iframe.opened {
   margin: 0;
   height: 100%;
   width: 100%;
 }