#app,
body {
   width: 100vw;
}

.od-webchat-preview__iframe-wrapper {
   width: 100vw;

}

iframe#opendialog-chatwindow{
   width: 100vw;
   height: 100vh;
 }

.od-chat-window.iframe {
   margin: 0;
   width: 100vw;
   height: 100vh;
 }
 
.od-chat-window.iframe.opened {
   margin: 0;
 }

#chatbotEmbed>iframe#opendialog-chatwindow {
   height: 100vh;
   max-width: 700px;
   position: relative;

 }

 /* .opendialog-chatwindow{
   position: relative;
   height: 100vh;
   width: 100vw;
 } */