.web-chat .close-chat {
  display: none !important;
}
.od-header{
  display: none;
}
.od-messagelist {
  display: flex;
  flex-direction: column;
  background-color: pink;
}
.od-user-input {
  display: none;
}
.od-chat-window {
  align-items: flex-end;
}
.od-chat-window {
  width: 100%;
  box-shadow: none;
}

.od-message-button__text {
  padding: 16px 32px
}