.od-messagelist {
  border-radius: 32px;
  background-color: white;
}

.od-chat-window.iframe.opened{
  width: auto;
  max-width: 800px;
  background-color: white;
  position: relative;
  border: 0.5px solid #E6E4E1;
  padding-bottom: 120px;
  border-radius: 32px;
  box-shadow: 0px 8px 64px 0px #362B1A08, 0px 8px 24px 0px #392D1B08, 0px 2px 4px 0px #42301F08 !important;
}




.web-chat .close-chat {
  display: none !important;
}

.od-header {
  display: none;
}


.od-message-button__text {
  padding: 16px 32px
}

.mt {
  border-radius: 32px;
  font-size: 17px;
  padding: 16px 32px;
  box-shadow: 0;
}

.od-message-text .mt .reap {
  border-bottom-left-radius: 8px;
}

.reap {
  border-bottom-left-radius: 8px;
}

.emit {
  border-bottom-right-radius: 8px;
}

.od-message-button .od-message-button__inline-buttons {
  margin-top: 0px;
}

.od-message-button .od-message-button__buttons-wrapper {
  margin-bottom: 16px;
  margin-top: 8px;
}

.od-message-button .od-message-button__buttons-wrapper__button,
.od-send-btn,
.od-external-buttons .od-external-button .od-external-button__button,
.od-fp-form__submit,
.submit-button {
  box-shadow: 0px 4px 16px 0px #392D1B08;
  box-shadow: 0px 1px 2px 0px #42301F08;
  box-shadow: 0px 4px 8px 0px #0000001A;
  font-weight: 800;
  padding: 16px 32px !important;
  font-size: 15px;
  border: 0px;
  border-radius: 100px;
  transition: 0.4s cubic-bezier(0.000, 0.405, 0.000, 1.285);
}

.od-message-button .od-message-button__buttons-wrapper__button:hover,
.od-send-btn,
.od-external-buttons .od-external-button .od-external-button__button:hover,
.od-fp-form__submit:hover {
  border: 0px;
  transform: scale(1.05);
}

.od-author.mt img.avatar {
  width: 24px;
  height: 24px;
}

.od-author.mt span {
  display: block;
}

.od-author.mt .od-author--name {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 8px;
  color: #666665;
}

.od-author.mt {
  display: flex;
  margin: 0px 0px 0px 0px;
  font-weight: 500;
  margin-left: 0px;
  margin-bottom: -10px;
  padding-top: 24px;
  align-items: center;
}



/* .od-user-input .od-user-input__form {
  display: flex;
  flex-direction: row;
  border-radius: 100vw;
  align-items: baseline;
  justify-content: space-between;
  padding: 16px 16px 16px 32px;
  background: white;
  border: 0.5px solid #E6E4E1;
  height: 80px;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(66, 48, 31, 0.03), 0px 4px 16px rgba(57, 45, 27, 0.03);
} */

.od-user-input {
  background: white;
  border-top: 0.5px solid #E6E4E1;
  height: 80px;
  width: 100%;
  margin-left: -48px !important;
  margin-right: -48px !important;
}

.od-user-input__form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.od-user-input .od-user-input__form::placeholder {
  color: red;
}

.od-user-input .od-user-input__form.disabled {
  display: none;
}

.od-user-input .od-user-input__buttons {
  width: auto;
}

.od-user-input__form-text-input {
  margin: 0px;

}

.od-user-input {
  padding: 24px 24px 24px 24px;
}


.od-fp-form__title {
  font-weight: 800;
  font-size: 18px;
}


.od-fp-form .od-fp-form__textarea {
  height: 300px;
}

.od-fp-form .od-fp-form__input,
.od-message-form .od-message-form--element-textarea {
  background: white;
  border-radius: 16px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 1px #E6E4E1 inset;
  padding: 24px;
  min-height: 200px;
}

.od-fp-form .od-fp-form__input:focus,
.od-message-form .od-message-form--element-textarea:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 1px #c4c2be inset;
}

span.od-fp-form__label {
  display: none;
}

.od-fp-form__elements {
  margin-top: 40px;
}

.od-fp-form {
  padding: 32px;
}

.od-fp-form .od-fp-form__cancel {
  color: #666665;
  text-decoration: none;
}

.od-external-buttons .od-external-buttons__row {
  height: auto;
  padding: 0px;
  white-space: none;
  overflow-y: visible;
  overflow-x: visible;
}

.od-external-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.od-external-buttons .od-external-button .od-external-button__button:last-child {
  margin: 0;
}

.iframe .od-external-buttons .od-external-button .od-external-button__button {
  padding: 0px;
}

iframe#opendialog-chatwindow{
  width: 100vw;
  height: 100vh;
}

.od-author.mt.reap{
  margin: 0 !important;
  scroll-padding-top: 24px;

}

.mt-wrapper {
  padding-bottom: 8px;
}


.od-user-input{
  background: none;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  z-index: 1000;
}


.od-author.mt img.avatar {
  width: 32px;
  height: 32px;
}





@media (min-width: 900px) {
  .od-author.mt .od-author--name{
    margin-top: 0px;
  }
}
