.close-chat{
  display: none;
}
.od-header{
  display: none;
}
.od-messagelist {
  display: flex;
  flex-direction: column;
  background-color: pink;
}
.od-user-input {
  display: none;
}
.od-chat-window {
  align-items: ;
}
.od-chat-window.iframe{
  width: 100%;
}