.web-chat .close-chat {
  display: none !important;
}
.od-header{
  display: none;
}
.od-messagelist {
  display: flex;
  flex-direction: column;
  background-color: pink;
}
.od-user-input {
  display: none;
}
.od-chat-window {
  align-items: flex-end;
}
.od-chat-window {
  width: 100%;
  box-shadow: none;
}

.od-message-button__text {
  padding: 16px 32px
}

.mt {
  border-radius: 32px;
}
.reap {
  border-bottom-left-radius: 8px
}

.od-message-button .od-message-button__inline-buttons {
 margin-top: 0px;
}
.od-message-button .od-message-button__buttons-wrapper{
  margin-top: 8px;
}