.od-user-input .od-user-input__form {
  display: none !important;
  background-color: pink !important;
}

.od-message-button__text{
  background-color: aqua !important;
  background: aqua !important;
}