
.od-header{
  display: none;
}
.od-messagelist {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  background-color: pink;
}
.od-user-input__form{
  display: none;
}