.web-chat .close-chat {
  display: none !important;
}
.od-header{
  display: none;
}
.od-messagelist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background-color: pink; */
}
.od-user-input {
  display: none;
}
.od-chat-window {
  align-items: flex-end;
}
.od-chat-window.iframe.opened {
  width: 100%;
  box-shadow: none;
}
.od-chat-window.iframe{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-radius: 0px;
}

.od-message-button__text {
  padding: 16px 32px
}

.mt {
  border-radius: 32px;
  font-size: 15px;
  padding: 16px 32px;
  box-shadow: 0;
}
.reap {
  border-bottom-left-radius: 8px;
}

.emit{
  border-bottom-right-radius: 8px;
}

.od-message-button .od-message-button__inline-buttons {
 margin-top: 0px;
}
.od-message-button .od-message-button__buttons-wrapper{
  margin-top: 8px;
}
.od-message-button .od-message-button__buttons-wrapper__button{
  border: 0.5px solid #40B2AC;
  box-shadow: 0px 4px 16px 0px #392D1B08;
  box-shadow: 0px 1px 2px 0px #42301F08;
  box-shadow: 0px 4px 8px 0px #0000001A;
  font-weight: 800;
  padding: 16px 32px;
}

.od-author.mt img.avatar {
 width: 40px;
 height: 40px;
}

.od-author.mt {
  font-size: 14px;
  margin: 0px;
  font-weight: 500;
  align-items: center;
}