.od-user-input .od-user-input__form {
  display: none !important;
  background-color: pink !important;
}

.od-message-text .mt .reap{
  background-color: aqua !important;
  background: aqua !important;
}