/* .od-header {
  display: none;
} */

.web-chat .close-chat {
  margin-top: 24px;
  justify-content: flex-end;

}

.web-chat .close-chat__button {
  width: 48px;
  height: 48px;
}

.web-chat .close-chat__img {
  width: 16px;
  height: 16px;
}

.od-message-button__text {
  padding: 16px 32px
}

.od-webchat-container {
  padding: 32px 32px 0px 32px;
  border-radius: 32px;
}

.mt {
  border-radius: 32px;
  font-size: 15px;
  padding: 16px 32px;
  box-shadow: 0;
}

.mt-wrapper {
  padding-bottom: 8px;

}

.od-header-cta{
  box-shadow: 0px 4px 16px 0px #392D1B08;
  box-shadow: 0px 1px 2px 0px #42301F08;
  box-shadow: 0px 4px 8px 0px #0000001A;
}

.od-header .od-header--closed {
  margin-bottom: 40px;
  width: 300px;
  height: 300px;
}
.od-header--closed{
  margin: 0;

}
.od-header .od-header-cta{
  background: teal;
  width: 80px;
  height: 80px;
  margin: 0;

}

.od-chat-window.closed.iframe {
  width: 80px;
  height: 80px;
  overflow: visible;
}

.od-message-text .mt .reap {
  border-bottom-left-radius: 8px;
}

.od-chat-window.iframe.opened {
  border-radius: 24px;
  box-shadow: 0 16px 32px 0px rgb(0 0 0 / 6%);
  border: solid #E5E4E1 0.5px
}

.reap {
  border-bottom-left-radius: 8px;
}

.web-chat {
  padding-bottom: 88px;
}

.emit {
  border-bottom-right-radius: 8px;
}

.od-message-button .od-message-button__inline-buttons {
  margin-top: 0px;
}

.od-message-button .od-message-button__buttons-wrapper {
  margin-bottom: 16px;
  margin-top: 8px;
}

.od-message-button .od-message-button__buttons-wrapper__button,
.od-send-btn,
.od-external-buttons .od-external-button .od-external-button__button,
.od-fp-form__submit {
  box-shadow: 0px 4px 16px 0px #392D1B08;
  box-shadow: 0px 1px 2px 0px #42301F08;
  box-shadow: 0px 4px 8px 0px #0000001A;
  font-weight: 800;
  padding: 16px 32px !important;
  font-size: 15px;
  border: 0px;
  transition: 0.4s cubic-bezier(0.000, 0.405, 0.000, 1.285);
}

.od-message-button .od-message-button__buttons-wrapper__button:hover,
.od-send-btn,
.od-external-buttons .od-external-button .od-external-button__button:hover,
.od-fp-form__submit:hover {
  border: 0px;
  transform: scale(1.05);
}

.od-author.mt img.avatar {
  width: 24px;
  height: 24px;
}

.od-author.mt span {
  display: block;
}

.od-author.mt .od-author--name {
  margin-top: 0;
  margin-left: 8px;
}

.od-author.mt {
  display: flex;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  font-weight: 500;
  margin-left: 0px;
  margin-bottom: -8px;
  padding-top: 0px;
  align-items: center;
}

.od-author.mt .od-author--name {
  color: #666665;
}

.od-chat-window {
  width: 100%;
  border-radius: 16px;
}

.od-chat-window.iframe.closed {
  padding: 0;
}



.od-user-input .od-user-input__form {
  display: flex;
  flex-direction: row;
  border-radius: 100vw;
  align-items: baseline;
  justify-content: space-between;
  padding: 16px 16px 16px 32px;
  background: white;
  border: 0.5px solid #E6E4E1;
  height: 80px;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(66, 48, 31, 0.03), 0px 4px 16px rgba(57, 45, 27, 0.03), 0px 8px 48px rgba(54, 43, 26, 0.03);
}

.od-user-input .od-user-input__form::placeholder {
  color: red;
}

.od-user-input .od-user-input__form.disabled {
  background: white;
  display: none;
}

.od-user-input .od-user-input__buttons {
  width: auto;
}

.od-user-input__form-text-input {
  margin: 0px;

}

.od-user-input {
  padding: 16px 24px 16px 24px;

}

.od-chat-window.iframe {
  /* display: flex;
  flex-direction: row;
  align-items: flex-end; */
  border-radius: 0px;
  width: 100%;
}

.od-fp-form__title {
  font-weight: 800;
  font-size: 18px;
}


.od-fp-form .od-fp-form__textarea {
  height: 300px;
}

.od-message-form--element-textarea {
  background: #f6f5f3;
  border-radius: 16px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 1px #E6E4E1 inset;
  padding: 24px;
}

.od-fp-form .od-fp-form__input:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 1px #c4c2be inset;
}

span.od-fp-form__label {
  display: none;
}

.od-fp-form__elements {
  margin-top: 40px;
}

.od-fp-form {
  padding: 32px;
}

.od-fp-form .od-fp-form__cancel {
  color: #666665;
  text-decoration: none;
}

.od-external-buttons .od-external-buttons__row {
  height: auto;
  padding: 0px;
  white-space: none;
  overflow-y: visible;
  overflow-x: visible;
}

.od-external-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.od-external-buttons .od-external-button .od-external-button__button:last-child {
  margin: 0;
}

.iframe .od-external-buttons .od-external-button .od-external-button__button {
  padding: 0px;
}